* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(255, 222, 233, 1) 0%,
    rgba(181, 255, 252, 1) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 50px auto;
  border-radius: 50px;
  border: 1px solid #e5fdff;
  padding: 0 50px;
  padding-bottom: 32px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}



h1 {
  margin: 32px 0;
  color: #0707078f;
  font-size: 24px;
  font-style: oblique;
  font-style: bold;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  width: 100%;
  margin-bottom: 25px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px;
  border: 1px solid #cacaca;
  background: #eeeeee8f;
  outline: none;
  width: 70%;
  color: #2c2c2c;
}

@keyframes bgcolor {
  0%
  {
    background:#E74C3C ;
  }
  20% {
    background:#2980B9 ;
  }
  40% {
    background:#F1C40F ;
  }
  60% {
    background:#8E44AD ;
  }
  80% {
    background:#34495E ;
  }
  100% {
    background:#E74C3C ;
  }

}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: rgba(7, 7, 7, 0.521);
  font-family: sans-serif;
  font-style: italic;
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  padding: 16px 22px;
  background-color: #ffffff;
  color: #313131;
  text-transform: capitalize;
  transition: 1s;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  /*Make a hover increasing the size of the icon, maybe if you want, change them color*/
}


.todo-button:hover {
  transition: 1s;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
  padding: 14.5px 20.5px;
}


.todo-input.edit {
  border: 2px solid #149fff;
  color: #2c2c2c;
}


.todo-button.edit {
  background-color: #ffffff;
}

.todo-container {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  position: relative;
}


.todo-row {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #383838af;
  background: rgba(255, 255, 255, 0.6);
  /*padding: 16px;*/
  border-radius: 9.5px;
  width: 100%;
}

.todo-row:nth-child(4n + 1) {
  
  background: rgba(255, 255, 255, 0.6);
  
}

.todo-row:nth-child(4n + 2) {
  
  background: rgba(255, 255, 255, 0.6);
  
}

.todo-row:nth-child(4n + 3) {
  
  background: rgba(255, 255, 255, 0.6);

}



/*======================================================SELECTORS HOVERS==================================================*/
/*CHECK*/

#root>div>div:nth-child(n)>div>div.icons>svg:nth-child(1):hover {
  background: #5aa054;
  color: chartreuse;
  transition: 0.4s;
  transform: scale(1.2);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}


/*SHOW DESCRPT*/

#root>div>div:nth-child(n)>div>div.icons>svg:nth-child(2):hover {
  background: #65026e;
  color: #E304f9;
  transition: 0.4s;
  transform: scale(1.2);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

/*DELETE*/

#root>div>div:nth-child(n)>div>div.icons>svg:nth-child(3):hover {
  background: #770c01;
  color: #ff1900;
  transition: 0.4s;
  transform: scale(1.2);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

/*EDIT*/

#root>div>div:nth-child(n)>div>div.icons>svg:nth-child(4):hover {
  background: #009ea7;
  color: #04ecf9;
  transition: 0.4s;
  transform: scale(1.2);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
/*======================================================SELECTORS HOVERS==================================================*/


.container {
  width: 100%;
  text-align: right;
  flex-wrap: wrap;
  display: flex;
}


.todo {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  flex-wrap: wrap;
  width: 50%;
}

.show-description {
  padding-left: 1em;
  text-align: left;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  height: 100%;
  font-size: 1.9em;
}

.delete-icon {
  height: 45px;
  width: 1.8em;
  padding: 0 4px;
  color: #fff;
  transition: 0.1s;
}

.edit-icon {
  background: #04ecf9;
  transition: 0.1s;
  height: 45px;
  width: 1.8em;
  padding: 0 4px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.delete-icon:nth-child(1){
  background: #a7d6a2;
  transition: 0.4s;
}

.delete-icon:nth-child(2) {
  background: #e9a0f0;
  transition: 0.4s;
}

.delete-icon:nth-child(3) {
  background: #f1958b;
  transition: 0.4s;
}

.delete-icon:nth-child(4) {
  background: #a7d6a2;
  transition: 0.4s;
}

.done {
  text-decoration: line-through;
}
